.simpleBox {
  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  &__darkBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
    opacity: 0.3;
  }

  &__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: 2;
    height: 100%;
  }
  &__aditional {
    position: relative;
    z-index: 10;
  }
}
